[Unit]
Description=<A python script to watch the camera and record clips after detecting motion>
After=network.target

[Service]
Environment="MIX_ENV=dev"
ExecStart=mix run --no-halt
User=pi
Restart=on-failure
RestartSec=10s
WorkingDirectory=/home/pi/eagle_eyes/cam

[Install]
WantedBy=multi-user.target